{% extends 'base.html.twig' %}

{% block title %}Signos Vitales{% endblock %}

{% block body %}
    <h1>Signos Vitales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signos_vitale.id }}</td>
            </tr>
            <tr>
                <th>Estatura</th>
                <td>{{ signos_vitale.estatura }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ signos_vitale.peso }}</td>
            </tr>
            <tr>
                <th>Temperatura</th>
                <td>{{ signos_vitale.temperatura }}</td>
            </tr>
            <tr>
                <th>Sistole</th>
                <td>{{ signos_vitale.sistole }}</td>
            </tr>
            <tr>
                <th>Diastole</th>
                <td>{{ signos_vitale.diastole }}</td>
            </tr>
            <tr>
                <th>Frecuencia_respiratoria</th>
                <td>{{ signos_vitale.frecuenciaRespiratoria }}</td>
            </tr>
            
            <tr>
                <th>Diastole</th>
                <td>{{ signos_vitale.diastole }}</td>
            </tr>
            <tr>
                <th>Frecuencia_cardiaca</th>
                <td>{{ signos_vitale.frecuenciaCardiaca }}</td>
            </tr>
            <tr>
                <th>Grasa_corporal</th>
                <td>{{ signos_vitale.grasaCorporal }}</td>
            </tr>
            <tr>
                <th>Masa_muscular</th>
                <td>{{ signos_vitale.masaMuscular }}</td>
            </tr>
            <tr>
                <th>Saturacion_oxigeno</th>
                <td>{{ signos_vitale.saturacionOxigeno }}</td>
            </tr>
            <tr>
                <th>Grasa_visceral</th>
                <td>{{ signos_vitale.grasaVisceral }}</td>
            </tr>
            <tr>
                <th>Hidratacion</th>
                <td>{{ signos_vitale.hidratacion }}</td>
            </tr>
            <tr>
                <th>Hidratacion</th>
                <td>{{ signos_vitale.cintura }}</td>
            </tr>
            <tr>
                <th>Hidratacion</th>
                <td>{{ signos_vitale.glucosa_ayunas }}</td>
            </tr>
            <tr>
                <th>Hidratacion</th>
                <td>{{ signos_vitale.glucosa_post }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('signos_vitales_index') }}">Regresar a Consulta</a>

  

    {{ include('signos_vitales/_delete_form.html.twig') }}
{% endblock %}
