

{% block title %}{% endblock %}
{% block header %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="image/favicon.png">

<script type = 'text/javascript' async src ="https://www.google-analytics.com/analytics.js"> </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151780690-13"> </script>

<script>    
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
</script>

<link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
<link rel="stylesheet" href="{{ asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/login.css') }}">
<link rel="stylesheet" href="{{ asset('css/estilo2.css') }}">
<link rel="stylesheet" href="{{ asset('dist/css/adminlte.css') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">


{% endblock %}

{% block body %}

<div _ngcontent-c2 class="login-body">
    
<div _ngcontent-c2 class="wrapper-login">

    <div _ngcontent-c2 class="elemnt">
     <center>
        <img src="image/Recursos_Login.jpg" height="100%" width="100%">
    </center>
    </div>

    <div _ngcontent-c2 class="elemnt1">
    <center>
        <img src="image/Recursos_Inicio 2.jpg" height="100%" width="100%">
    </center>
    </div>

<div _ngcontent-c2 class="login-panel">
<div _ngcontent-c2 class="login-content">
    <img _ngcontent-c2 alt="logo" src="image/Recursos_Logo Espoir.png">

<form _ngcontent-c2 novalidate method="post"  class="ng-pristine ng-invalid ng-touched">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Se encuentra logueado como {{ app.user.username }}, <a href="{{ path('app_logout') }}">SALIR</a>
        </div>
    {% endif %}

      <h1 _ngcontent-c2 class="tituloAplicacion">
      
    </h1>
      
      
     <div _ngcontent-c2 class="login-input-wrapper">
     <div class="ui-inputgroup">
     <span _ngcontent-c2 class="ui-inputgroup-addon posicion-relativa">
     <i _ngcontent-c2 class="fas fa-user"></i>
     <input _ngcontent-c2 autocomplete="off" type="text" value="{{ last_username }}" name="username" id="inputUsername"  placeholder="Cédula" 
     class="ui-inputtext ui-widget ng-untouched ng-pristine ng-invalid ui-corner-all ui-state-default" required autofocus>
     </input>
    </span>
    </div>
    </div>
   
    <div _ngcontent-c2 class="login-input-wrapper">
     <p align ="center">
    <div class="ui-inputgroup">
     <span _ngcontent-c2 class="ui-inputgroup-addon posicion-relativa">
    <i _ngcontent-c2 class="fas fa-unlock-alt"></i>
    <input _ngcontent-c2 type="password" name="password" id="inputPassword" placeholder="Contraseña" 
    class="ui-inputtext ui-widget ng-untouched ng-pristine ng-invalid ui-corner-all ui-state-default" required autofocus>
    <input _ngcontent-c2 type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
          </input> 
          </input>
    </span>
    </div>
    </div>
    </p>
      <div _ngcontent-c2 class="cajaContrasenia">
        <p _ngcontent-c2 class="textoContrasenia">
            <a href="{{ path('app_forgot_password_request') }}" class="text-warning" > 
                ¿Olvidó su Contraseña?</a>
        </p>
    </div>

<button class="btn btn-warning btn-lg" type="submit">
        Iniciar Sesión
    </button>
</form>


{% endblock %}
