{% extends 'base.html.twig' %}

{% block title %}Diagn칩stico{% endblock %}

{% block body %}
    <h1>Diagn칩stico</h1>
    <div class="table-responsive">
    <table id="exmaple" style="width:100%" class="content-table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo Diagn칩stico</th>
                <th>Aptitud</th>
                <th>Ex치menes Laboratorio</th>
                <th>Fisioterapia</th>
                <th>Recomendaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for diagnostico in diagnosticos %}
            <tr>
                <td>{{ diagnostico.id }}</td>
                <td>{{ diagnostico.tipoDiagnostico }}</td>
                <td>{{ diagnostico.aptitud }}</td>
                <td>{{ diagnostico.observacion }}</td>
                <td>{{ diagnostico.limitacion }}</td>
                <td>{{ diagnostico.recomendciones }}</td>
                <td>
                    <a href="{{ path('diagnostico_show', {'id': diagnostico.id}) }}">Mostrar</a>
                    <a href="{{ path('diagnostico_edit', {'id': diagnostico.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No Existen Registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
