{% extends 'base.html.twig' %}


{% block body %}
 <a href="{{ path('nutricional_new', {id: paciente.id, c:consulta.id}) }}" class="btn btn-block btn-outline-primary btn-sm" > Regresar a la ficha médica</a></br>
<a href="javascript:void(0);" id="print_Button_Full" class="btn btn-block btn-primary" align="left" >Imprimir Historia Clínica Nutricional</a>
<div class="content">

<img src="https://jgecuador.com/wp-content/uploads/2024/07/rlogo.png" class="rounded mx-auto d-block"  width="200" height="150"   >
</br>

    <table class="table table-striped" style="width:100%">
    <h4 class="text-center">HISTORIA CLÍNICA NUTRICIONAL</h4>
    <h5>Fecha: {{ consulta.fechaAtencion ? consulta.fechaAtencion|date('Y-m-d') : '' }}</h5>
    <h5 class="text-primary"> DATOS PERSONALES</h5>
    <div class="contenedor">
    
        <tbody>
          
            <tr>
                <th>Cédula</th>
                <td>{{ paciente.cedula }}</td>
         
                <th>Nombres</th>
                <td>{{ paciente.pnombre }} {{ paciente.snombre }}</td>
         
                <th>Apellidos</th>
                <td>{{ paciente.papellido }} {{ paciente.sapellido }}</td>
         
                <th>Sexo</th>
                <td>{{ paciente.sexo }}</td>

                <th>Edad</th>
                <td>{{ date('now').diff((date(paciente.fechaNacimiento))).format('%y años') }}</td>

            </tr>
        </tbody>
    </div>
    </table>

<h5 class="text-primary"> ANTECEDENTES HEREDOFAMILIARES </h5>
       <table id="exmaple" style="width:100%" class="content-table table-sm">
        <thead>
            <tr>
                <th>Patología</th>
                <th>Descripción Enfermedad</th>
                <th>Parentesco</th>
            </tr>
        </thead>
        <tbody id="articles4">
        {% for c in antf %}
            <tr>
                <td>{{ c.Patologia }}</td>
                <td>{{ c.descripcion }}</td>
                <td>{{ c.Parentesco }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No Existen Registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<h5 class="text-primary"> ANTECEDENTES NO PATOLÓGICOS </h5>


      <table id="example" style="width:100%" class="content-table table-sm">
      <h7> Actividades físicas</h7>
        <thead>
            <tr>
                <th>Realiza Actividad Física</th>
                <th>Actividad Física</th>
                <th>Frecuencia</th>

            </tr>
        </thead>
        <tbody id="articles">
        {% for c in antn %}
            <tr>
                <td>{{ c.deporte_select }}</td>
                <td>{{ c.actividad_fisica}} </td>
                <td>{{ c.numero_actividad_fisica}} </td>
      
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No Existen Registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


 
      <table id="example" style="width:100%" class="content-table table-sm">
      <h7>Hábitos Tóxicos</h7>
        <thead>
            <tr>
        

                <th>Consumo de Alcohol</th>
                <th>Frecuencia</th>
                <th>Tiempo Consumo (años)</th>
                <th>Exconsumidor</th>
                <th>Abstinencia (años)</th>

                <th>Consumo de Tabaco</th>
                <th>Frecuencia</th>
                <th>Tiempo Consumo (años)</th>
                <th>Exconsumidor</th>
                <th>Abstinencia (años)</th>

                <th>Consumo de Drogas</th>
                <th>Tipo de Droga</th>
                <th>Frecuencia</th>
                <th>Tiempo Consumo (años)</th>
                <th>Exconsumidor</th>
                <th>Abstinencia (años)</th>
         

            </tr>
        </thead>
        <tbody id="articles">
        {% for c in antn %}
            <tr>
      

                <td>{{ c.sustancia_selec }}</td>
                <td>{{ c.tiempo_consumo_a }}</td>
                <td>{{ c.cantidad_a }}</td>
                <td>{{ c.exconsumidor_a }}</td>
                <td>{{ c.tiempo_abstinencia_a }}</td>

                <td>{{ c.tabaco }}</td>
                <td>{{ c.tiempo_consumo }}</td>
                <td>{{ c.cantidad }}</td>
                <td>{{ c.exconsumidor }}</td>
                <td>{{ c.tiempo_abstinencia }}</td>

                <td>{{ c.uso_sustancias }}</td>
                <td>{{ c.droga_descripcion }}</td>
                <td>{{ c.tiempo_consumo_d }}</td>
                <td>{{ c.numero_sustancias }}</td>
                <td>{{ c.ex_consumidor }}</td>
                <td>{{ c.tiempo_abstinencia_d }}</td>

             
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No Existen Registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




<h5 class="text-primary"> DATOS CITA NUTRICIONAL </h5>
  <table class="table table-striped" style="width:100%">

       <tbody>     
    <tr>
        <th>Estatura </th>

          <td>
            {% if  consulta.signosvitales.estatura is defined and consulta.signosvitales.estatura is null  %}
            {% elseif consulta.signosvitales.estatura  is defined and consulta.signosvitales.estatura is not null  %}
            {{ consulta.signosvitales.estatura}} Cm
          </td> 
            {% endif %}
    
        <th>Peso </th>
          
          <td>
            {% if  consulta.signosvitales.peso is defined and  consulta.signosvitales.peso is null  %}
            {% elseif  consulta.signosvitales.peso is defined and  consulta.signosvitales.peso is not null  %}
            {{ consulta.signosvitales.peso}} Kg
          </td>
            {% endif %}

            {% if  consulta.signosvitales.peso is defined and  consulta.signosvitales.peso is null  %}
            {% elseif  consulta.signosvitales.peso is defined and  consulta.signosvitales.peso is not null  %}
            {% set masacorporal = 0 %}
            {% set tv = ((consulta.signosvitales.peso)/(consulta.signosvitales.estatura **2))*10000 %}
              

        <th>Masa Corporal</th>
            
          <td>
            {{ tv |number_format(2)}}  
            {% if tv  <= 18.5  and  tv is not null %}
              ->Bajo peso
            {% elseif tv >= 18.6  and  tv <= 24.9 %}
              ->Normal
            {% elseif tv >= 25  and  tv <= 29.9 %}
              ->Sobrepeso
            {% elseif tv >= 30 %}
              ->Obesidad
            {% endif %}

         {% endif %}
          </td>
      </tr>



                <tr>
                  {% set genero1 = "Mujer" %}  
                   {% set genero2 = "Hombre" %}  
                 <th>Grasa Corporal</th>
                <td>
                 {{ consulta.signosvitales.grasacorporal}}
                   {% if consulta.signosvitales.grasacorporal  < 20 and paciente.sexo == genero2 and  consulta.signosvitales.grasacorporal is not null %}
                   Sano 
                    {% elseif consulta.signosvitales.grasacorporal < 30 and  paciente.sexo == genero1 and  consulta.signosvitales.grasacorporal is not null %}
                    Sano 
                     {% elseif consulta.signosvitales.grasacorporal > 20  and  paciente.sexo == genero2 and  consulta.signosvitales.grasacorporal is not null %}
                     No Adecuado
                    {% elseif consulta.signosvitales.grasacorporal > 30  and paciente.sexo == genero1 and  consulta.signosvitales.grasacorporal is not null %}
                    No adecuado 
                    {% endif %}
               </td>
                    <th>Grasa Visceral</th>
                <td>{{ consulta.signosvitales.grasavisceral}}
                    {% if consulta.signosvitales.grasavisceral <= 9  and consulta.signosvitales.grasavisceral is not null  %}
                        ->Adecuado
                    {% elseif consulta.signosvitales.grasavisceral > 9   %}
                        ->No Adecuado
                    {% endif %}
                </td>

                 <th>Masa Muscular</th>
                <td>{{ consulta.signosvitales.masamuscular}}</td>
                </tr>

                <tr>
                 <th>Cintura Abdominal(cm)</th>
                <td>{{ consulta.signosvitales.cintura}}</td>
                 <th>Glucosa en ayunas</th>
                <td>{{ consulta.signosvitales.glucosaayunas}}</td>
                 <th>Glucosa Post</th>
                <td>{{ consulta.signosvitales.glucosapost}}</td>
                </tr>

                  <tr>
                 <th>Hidratación</th>
                <td>{{ consulta.signosvitales.hidratacion}}</td>
                </tr>

         </tbody> 

 </table>


  
  <table  id="exmaple" style="width:100%" class="content-table table-sm">
  <h5 class="text-primary"> HÁBITOS PERSONALES </h5>
        <thead>
            <tr>
                <th>Hábito</th>
                <th>Subtipo de Hábito</th>
                <th>Descripción del Hábito</th>
            </tr>
        </thead>
        <tbody id="articles">
        {% for examene in c %}
            <tr>
              
                <td>{{ examene.tipo }}</td>
                <td>{{ examene.sub_tipo }}</td>
                <td>{{ examene.descripcion_hab }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">No Existen Registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="card">
    <h5 class="text-primary"> MOTIVO CITA NUTRICIONAL</h5>
    <h5 class="card-body"> {{consulta.motivonutricional}} </h5>

<h5 class="text-primary"> DIAGNÓSTICO NUTRICIONAL</h5>
<h5 class="card-body"> {{consulta.diagnosticonutricional}} </h5>
   
  

 </br>
 </br>
 </br>
 </br>
 </br>
<div class="row vh-30 align-items-center">
    <div class="col text-center">
        <h6>(f)___________________________________________________</h6>
        <h6>Dr/Dra: <b>{{ consulta.employed.Nombre }} {{ consulta.employed.Apellido }}</b>.</h6> 
        <h6>Especialidad: <b>{{ consulta.employed.Profesion }}</b>.</h6>
        <h6>CI: <b>{{ consulta.employed.Cedula }}</b>./ Codigo Medico:  <b>{{ consulta.employed.codigomedico }}</b> </h6>
    </div>
</div>

{% endblock %}

{% block javascripts %}
 

 <script>
  $(document).ready(function(){
       $("#print_Button_Full").click(function(){
          var mode = 'iframe'; // popup
          var close = mode == "popup";
          var options = { mode : mode, popClose : close};
          $("div.content").printArea( options );
      });
  });

</script>


   {% endblock %}
