{% extends 'base.html.twig' %}

{% block title %}Edit ExamenFisico{% endblock %}

{% block body %}
 <div class="card-body p-5 bg-white rounded">
      <h6> Examen Físico del Paciente: <b>{{paciente.pnombre}} {{paciente.snombre}} {{paciente.papellido}} {{paciente.sapellido}}</b></h6>
{% for flash_message in app.session.flashbag.get('exito') %}
<div class="alert alert-success" role="alert">
       {{ flash_message }}
</div>
{% endfor %}
    {{ include('examen_fisico/_form2.html.twig', {'button_label': 'Copiar'}) }}
 <a  href="{{ path('examen_fisico_new', {id: paciente.id, c: consulta.id}) }}" >
   <button class="btn btn-block btn-outline-warning btn-sm">
<i class="fas fa-chevron-left">Regresar a la ficha del paciente</i>
</button>
 </a>
</div>
    
{% endblock %}
