{% extends 'base.html.twig' %}

{% block title %}AntQuirugicos{% endblock %}

{% block body %}
    <h1>AntQuirugicos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ant_quirugico.id }}</td>
            </tr>
            <tr>
                <th>Cirujia</th>
                <td>{{ ant_quirugico.cirujia }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ ant_quirugico.fecha ? ant_quirugico.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tipo_cirujia</th>
                <td>{{ ant_quirugico.tipoCirujia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ant_quirugicos_index') }}">back to list</a>

    <a href="{{ path('ant_quirugicos_edit', {'id': ant_quirugico.id}) }}">edit</a>

    {{ include('ant_quirugicos/_delete_form.html.twig') }}
{% endblock %}
